/test_app_1/nbproject/private/
/Exercise-01-01/nbproject/private/
/Exercise-01-03/nbproject/private/
/Exercise-01-03/node_modules/
/Exercise-01-04/nbproject/private/
/*/node_modules/
/*/nbproject/private/
/.DS_Store

/by_example/GuessTheNumber/nbproject/private/
/by_example/7MinWorkout/nbproject/private/
/tutorial/HelloWorld/nbproject/private/
/tutorial/HelloWorld/build/
/tutorial/FileSync/nbproject/private/
/tutorial/Hangman/nbproject/private/
/tutorial/Hangman/build/
/tutorial/ScreenScraper/nbproject/private/
/tutorial/ScreenScraper/build/
/tutorial/JobTracker/nbproject/private/
/mean/NodeJsWebApplication/nbproject/private/
/mean/TestNodeApp/nbproject/private/
/mean/dummyApp/nbproject/private/
/*/credendtials.js

